.experienceContainer {
    width: 100%;
    margin-bottom: 25px;
}

.experienceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experienceHeader > h2, .experienceHeader > p {
    color: #99CCFF;
}

.experienceItem  {
    /* padding: 0; */
    margin: 10px 0px 10px 0px;
}