.App {
    text-align: center;
    display: flex;
    width: 105%;
}

.link {
    text-decoration: none;
    padding: 20px 20px;
    font-weight: 700;
    font-size: large;
}

.main {
    width: 25%;
    height: 100%;
    position: fixed;
}

.content {
    width: 40%;
    margin-left: 40%;
  }



.projects, .theses, .contact {
    /* margin: 100px; */
    width: 105%;
}

.home {
    height: 600px;
    display: flex;
}

.about {
    /* height: 600px; */
    display: flex;
    text-align: left;
}

.projects {
    /* height: 600px; */
    display: flex;
    text-align: left;
}

.theses {
    /* height: 600px; */
    display: flex;
}

.contact {
    /* height: 600px; */
    display: flex;
}

.navbar {
    width: 125%;
}

*, html {
    scroll-behavior: smooth !important;
    font-family: "Rubik", sans-serif;
    background: #333333;
    margin: 25px;
}

* {
    color: #f5f8ff;
}