.App {
    text-align: center;
    display: flex;
    width: 105%;
}

.link {
    text-decoration: none;
    padding: 20px 20px;
    font-weight: 700;
    font-size: large;
}

.main {
    width: 25%;
    height: 100%;
    position: fixed;
}

.content {
    width: 40%;
    margin-left: 40%;
  }

.projects, .theses, .contact {
    /* margin: 100px; */
    /* width: 105%; */
}

.home {
    height: 600px;
    display: flex;
}

.about {
    /* height: 600px; */
    display: flex;
    text-align: left;
}

.projects {
    display: flex;
    justify-content: left;
}

.theses {
    /* height: 600px; */
    display: flex;
}

.contact {
    /* height: 600px; */
    display: flex;
}

.navbar {
    width: 125%;
}

*, html {
    scroll-behavior: smooth !important;
    font-family: "Rubik", sans-serif;
    background: #333333;
    margin: 25px;
}

* {
    color: #f5f8ff;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 100;
}

.navbar li {
    font-weight: lighter;
}

.formContainer {
    margin: auto auto;
}

form {
    padding: 50px;
    border: 2px solid rgba(51, 102, 204, 0.5);
    border-radius: 5px;
}

input, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto auto;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    width: auto;
    cursor: pointer;
    padding: 10px 20px
}