.projectContainer,
.projectCard,
.projectCard-hovered {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
    /* margin: 10px; */
}

.projectContainer {
    /* text-align: left;
    display: flex;
    flex-direction: row; */
    /* justify-content: center; */
}

.projectCard {
    border: 1px solid transparent; 
    transition: border-color 0.2s, color 0.2s;
}

.projectCard-hovered {
    cursor: pointer;
    border: 1px solid #3366CC; 
    background-color: rgba(221, 226, 237, 0.1);
}

.projectCard-hovered div,
/* .projectCard-hovered p, */
.projectCard-hovered h2
{
/* .projectCard-hovered p { */
    color: #99CCFF;
    background-color: transparent;

}

.projectCard-hovered p {
    background-color: transparent;
}

.left-details {
    flex: 1;
    padding-right: 10px;
}

.left-details h2,
.left-details p,
.right-details p {
    margin: 0;
    padding: 5px;
}


.right-details {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.right-details p {
    padding-bottom: 10px;
}


.thumbnail {
    width: 165px;
    height: 100px;
}