.projectCard,
.projectCard-hovered {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: left; */
    border-radius: 15px;
    padding: 12px 12px 12px 12px;
    width: 1100px;
    /* min-width: 1000px; */
    /* margin: 10px; */
}

.projectCard {
    display: flex;
    border: 1px solid transparent; 
    transition: border-color 0.3s, color 0.2s;
    /* width: 100%; */
    /* width: 100%; */
    /* min-width: 1100px; */

    /* flex-direction: row; */
}

.projectCard-hovered {
    cursor: pointer;
    border: 1px solid #3366CC; 
    background-color: rgba(221, 226, 237, 0.1);
    transition: background-color 0.3s, color 0.2s;
}

.projectCard-hovered div,
.projectCard-hovered h2,
.projectCard-hovered .projectTimeline {
    color: #99CCFF;
    background-color: transparent;
}


.projectCard-hovered p {
    background-color: transparent;
}

.left-details {
    padding: 0px;
    width: 100%;
}

.left-details h2,
.left-details p,
.right-details p {
    margin: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}


.right-details {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;
}

.right-details p {
    padding-bottom: 5px;
}


.thumbnail {
    width: 165px;
    height: 100px;
    background-color: rgba(51, 102, 204, 0.5);
    border-radius: 9px;
    padding: 4px;
    transition: background-color 0.3s, color 0.2s;
}


.detailsContainer {
    display: flex;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    margin: 0 auto;
}

.skillsNugget {
    color: #f5f8ff !important;
    background-color: rgba(51, 102, 204, 0.5) !important;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    margin: 10px;
    font-size: 0.85em;
}