.projectCard,
.projectCard-hovered {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 15px;
    padding: 12px;
    /* margin: 10px; */
}

.projectContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200%;
    margin: 0 auto;
}

.projectCard {
    border: 1px solid transparent; 
    transition: border-color 0.2s, color 0.2s;
    /* flex-direction: row; */
}

.projectCard-hovered {
    cursor: pointer;
    border: 1px solid #3366CC; 
    background-color: rgba(221, 226, 237, 0.1);
}

.projectCard-hovered div,
/* .projectCard-hovered p, */
.projectCard-hovered h2
{
/* .projectCard-hovered p { */
    color: #99CCFF;
    background-color: transparent;

}

.projectCard-hovered p {
    background-color: transparent;
}

.left-details {
    flex: 1;
    padding: 0px;
}

.left-details h2,
.left-details p,
.right-details p {
    margin: 0;
    padding-bottom: 5px;
    padding-right: 5px;
}


.right-details {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;
}

.right-details p {
    padding-bottom: 5px;
}


.thumbnail {
    width: 165px;
    height: 100px;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 0;
    padding: 0;

}

.skillsContainer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.skillsNugget {
    color: #f5f8ff !important;
    background-color: rgba(51, 102, 204, 0.5) !important;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    margin: 10px;
    font-size: 0.85em;
}